/* -----General Header----- */
.header{
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    /*padding: 16px;*/
    /* box-shadow: 0 1px 3px -2px white; */
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    /*border-right: 1px solid rgba(209, 213, 219, 0.3);*/
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1000;
    transition: background-color 0.3s ease;

}
.header.scrolled{
    background-color: transparent ;
}
.header:hover{
    /* background-color: white; */
        background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-right: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/* -----Button Styles----- */
button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}
/* General Button Hover Effect */
button:hover {
    color: #454545;
    transform: scale(1.05); 
}
/* -----Burger menu----- */
.menu {
    display: flex;
    align-items: center;
    gap: 45px;
}


/* -----Sidebar----- */
#menu_toggle {
    opacity: 0;
}
.menu_btn {
    display: flex; 
    align-items: center;
    position: fixed;
    top: 36px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #efece7;
  transition-duration: .25s;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
}
.sidebar {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 180px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;

    /* background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
    background-color: rgba(86, 86, 86, 0.792);
    backdrop-filter: blur(8px);
    border-right: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition-duration: .25s;
}
.sidebar li{
    display: block;
    padding: 12px 24px;
    font-family: 'Rufina', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
    margin-top: 10%;
    color: #efece7;

}

.sidebar li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #efece7;
    transition: color 0.25s ease;
}

.sidebar li:hover {
    background-color: #efece763;
    border-radius: 5px;
    cursor: pointer;
    color: #454545;
    box-shadow: 2px 2px 4px rgb(207, 250, 114);
}
.sidebar li:hover a {
    color: #454545; /* Change link color on hover */
}

.sidebar li a:active{
    color: #454545;
}
#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~ .sidebar {
    visibility: visible;
    left: 0;
}
.header:hover .menu_btn span {
    background-color: #454545;
}
.header:hover .menu_btn  span::before{
    background-color: #454545;
    
}
.header:hover .menu_btn  span::after {
    background-color: #454545;
    
}
.header.scrolled .menu_btn > span,
.header.scrolled .menu_btn > span::before,
.header.scrolled .menu_btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #454545; 
  transition-duration: .25s;
}
/* -----Submenu----- */

.submenu-container {
    position: relative;
}
.submenu {
    display: block; 
    overflow: hidden; 
    height: 0; 
    opacity: 0; 
    transition: height 0.5s ease, opacity 0.5s ease; 
    list-style: none;
    padding: 0;
    margin: 0;
}
.submenu-container.open .submenu {
    height: auto; 
    opacity: 1; 
    transition: height 0.5s ease, opacity 0.5s ease; 
}
.submenu li {
    padding: 12px 24px;
    font-size: 18px;
    color: #333;

}
.submenu li a {
    text-decoration: none;
    color: #efece7;
}
.submenu li:hover {
    background-color: transparent;
}


/* -----Logo----- */
.nav-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    border-radius: 5%;
    /*box-shadow:inset 1px 1px 4px 1px rgb(245, 243, 242);*/
    /*background-color: rgba(167, 167, 141, 0.3);*/
    /*padding: 0.2rem;*/
}
.nav-logo img{
    width: 5.0rem;
    height: 5.0rem;
    
}
.nav-logo button{
    border: none;
    outline: none;
    columns: #515151;
    cursor: pointer;
    background: transparent;
}

.nav-logo a{
    text-decoration: none;
}

.header:hover .nav-logo p {
    color: #454545;
}
.header.scrolled .nav-logo{
    color: black ;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 4px rgb(207, 250, 114);
}
.header.scrolled .nav-logo p{
    color: #454545;
}
.header.scrolled .menu_btn span::after{
    background-color: #454545 ;
}
/* -----Login-cart section---- */
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-right: 16px;
}
.nav-login-cart button{
    border: none;
    outline: none;
    font-size: 26px;
    cursor: pointer;
    background: transparent;
}
.nav-icons{
    color: #efece7;
}
.header:hover .nav-icons {
    color: #454545;
}
.header.scrolled .nav-icons{
    color: #454545 ;
}
.nav-login-cart button:active{
    color: red;
}
.nav-wishlist-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
        
/* ----Screens ---*/
@media(max-width:1280px){
    .header{
        width: 100%;
    }
    .nav-login-cart{
        display: flex;
        align-items: center;
        gap: 35px;
        
    }
    
}

@media(max-width:880px){
    .header{
        width: 100vw;
    }
    .nav-login-cart{
        display: flex;
        align-items: center;
        gap: 25px;
        
    }
    
}

@media(max-width:385px){
    .header{
        width: 100%;
    }
    .nav-login-cart{
        display: flex;
        align-items: center;
        gap: 18px;
        margin-right: 20px;
        
    }
    
}