
.footer{
    left: 0;
    bottom: 0;
    padding: 0;
    margin-top: 180px;
    text-align: center;
    width: 100%;
    color: #454545;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px -7px 16px -6px rgba(69,69,69,1);
    -moz-box-shadow: 0px -7px 16px -6px rgba(69,69,69,1);
    box-shadow: 0px -7px 16px -6px rgba(69,69,69,1);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.footer-links{
    margin: 20px;
}
.footer-links button{
    font-size: 14px;
}

.footer-central{
    font-size: 14px;
    margin: 20px;
}
.footer-icons{
    margin: 15px;
}

@media(max-width:1280px){
    .footer{
        width: 100%;
        margin-right: 0;
    }
    
}

@media(max-width:880px){
    .footer{
        width: 100%vw;
        margin-right: 0;
    }
    
}

@media(max-width:380px){
    .footer{
        width: 100%;
        right: 0;
    }
    
}