* {
  margin: 0;
  padding: 0;
}
.main-container {
  overflow-x: hidden;
  
}
.main-container {
  background-color: var(--primary);
  /* height: 100%; */
  color: var(--white);
}
.main-container::-webkit-scrollbar {
  width: 4px;
}
.main-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.main-container::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
.main-container::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
::selection {
  background: var(--primary);
  color: var(--white);
}
.overflow-hidden {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}
h1,
h2,
h3 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1;
  text-transform: capitalize;
  -webkit-text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 1.2px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}
p {
  font-size: 45px;
  line-height: 1.4;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}
.pinWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 11;
}
.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto);
}
.event {
  position: relative;
  overflow: hidden;
  height: 100svh;
  width: 100vw;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.event::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#section1.event::before {
  background-color: rgb(21 22 28 / 15%);
}
#section2.event::before {
  background-color: rgb(21 22 28 / 34%);
}
#section3.event::before {
  background-color: rgb(86 82 76 / 57%);
}
#section4.event::before {
  background-color: rgb(120 115 103 / 58%);
}
.slides-container{
  height: 100vh;
  background-color: rgba(68, 76, 62, 0.418);
  /* background-color: black; */
}
.text h1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(227, 178, 178);
  color: rgba(141, 167, 121, 0.218);
}

/* #section1 {
  background-image: url("/images/LivingRoom/LivingRoom-large.webp");
}
#section2 {
  background-image: url("/images/homeBackground.webp");
}
#section3 {
  background-image: url("/images/BathRoom/BathRoom-medium.webp");
}
#section4 {
  background-image: url("/images/LivingRoom/LivingRoom-medium.webp");
} */
.image {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  background-size: cover;
  background-position: center center;
  transition: width 1s, height 1s;
  -webkit-transition: width 1s, height 1s;
  box-shadow: 2px 2px 10px 10px rgb(0 0 0 / 12%);
  -webkit-box-shadow: 2px 2px 10px 10px rgb(0 0 0 / 12%);
  transform-origin: center;
  -webkit-transform-origin: center;
  z-index: 8888;
  overflow: hidden;
  border-radius: 0;
}
.image:not(#loaderVideo) {
  top: -50%;
  width: 500px;
  height: 500px;
  left: auto;
  right: 100px;
  position: absolute;
  border-radius: 12px;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
}
#section1 .image video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}
/* #section2 .image {
  background-image: url("/images/Balcony/background.webp");
}
#section3 .image {
  background-image: url("/images/BathRoom/BathRoom-large.webp");
}
#section4 .image {
  background-image: url("/images/BedRoom/BedRoom3-large.webp");
} */

/* Section Text */
.text {
  top: -50%;
  left: 0;
  position: absolute;
  transform: translate(100px, -50%);
  -webkit-transform: translate(100px, -50%);
  color: antiquewhite;
  width: 43%;
}
#section1 .text {
  top: 50%;
}

/* Scroll Button */
.scrollBtn {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  transition: all ease-in-out 0.35s;
  -webkit-transition: all ease-in-out 0.35s;
}
.scrollBtn.move {
  visibility: hidden;
  opacity: 0;
}
.scrollBtn span {
  width: 12px;
  height: 12px;
  display: block;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: animate 2s infinite;
  -webkit-animation: animate 2s infinite;
  margin: auto;
}
.scrollBtn h6 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  letter-spacing: 2px;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* Preloader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  -webkit-transition: all 1s;
}
#preloader img,
#preloader video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#preloader::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}
.text-wrapper {
  text-align: center;
  height: 24px;
  overflow: hidden;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
#first-text {
  animation: moveUp 1s 1s forwards;
  -webkit-animation: moveUp 1s 1s forwards;
}
#second-text {
  opacity: 0;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  animation: scrollup 1s 1.2s forwards, moveUpAgain 1s 2.2s forwards;
  -webkit-animation: scrollup 1s 1.2s forwards, moveUpAgain 1s 2.2s forwards;
}


.button-section {
  position: relative;
  padding: 2rem;
  /* background-image: url('/images/LivingRoom/LivingRoom-large.webp'); */
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}
.room-360-view-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
  background-color: #000; 
}
.room-360-view-container.fullscreen canvas {
  width: 100%;
  height: 100%;
}

.view-360-button {
  position: absolute;
  top:50%;
  left: 30%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #7084586d;
  border-radius: 9999px; 
  box-shadow:inset 2px 2px 5px rgb(230, 238, 235);
  color: rgb(223, 247, 158);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.room-360-view-container.fullscreen .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  transition: transform 0.1s, background-color 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.view-360-button:hover {
  background-color: #5e5621a2;
  color: rgb(171, 223, 242); 
  transform: scale(1.1);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* .view-360-button {
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
} */

.view-360-button:hover {
  background-color: #546546a2;
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
@-webkit-keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes scrollup {
  100% {
    transform: translateY(-54px);
  }
}
@-webkit-keyframes scrollup {
  100% {
    transform: translateY(-54px);
  }
}

@keyframes moveUpAgain {
  0% {
    transform: translateY(-54px);
    opacity: 1;
  }
  60% {
    transform: translateY(-54px);
    opacity: 1;
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}
@-webkit-keyframes moveUpAgain {
  0% {
    transform: translateY(-54px);
    opacity: 1;
  }
  60% {
    transform: translateY(-54px);
    opacity: 1;
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}

/* Media Query */
@media screen and (max-width: 1399px) {
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 38px;
  }
  .text {
    transform: translate(60px, -50%);
    -webkit-transform: translate(60px, -50%);
  }
  .image:not(#loaderVideo) {
    height: 450px;
    width: 450px;
    right: 80px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 34px;
  }
  .text {
    transform: translate(40px, -50%);
    -webkit-transform: translate(40px, -50%);
    width: 44%;
  }
  .image:not(#loaderVideo) {
    height: 400px;
    width: 400px;
    right: 60px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 26px;
  }
  .text {
    transform: translate(24px, -50%);
    -webkit-transform: translate(24px, -50%);
    width: 44%;
  }
  .image:not(#loaderVideo) {
    height: 310px;
    width: 310px;
    right: 40px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 22px;
  }
  .image:not(#loaderVideo) {
    height: 220px;
    width: 220px;
  }
}
@media screen and (max-width: 576px) {
  .text {
    top: -36%;
    width: 100%;
    width: calc(100% - 80px);
  }
  #section1 .text {
    top: 64%;
  }
  .image:not(#loaderVideo) {
    top: -75%;
    left: 24px;
    right: auto;
    transform: translate(0%, -25%);
    -webkit-transform: translate(0%, -25%);
  }
}